@import "tailwindcss";

@theme {
    --color-primary: #8315E7;
    --color-darkBg: #0B0B0F;
    --color-lightBg: #F8F9FC;
    --color-darkCard: #15161C;
    --color-lightText: #111827;
    --color-darkText: #fff;
    --color-muted: #6B6B6B;
    --color-offWhite: #B3B3B3;

    --breakpoint-xs: 30rem;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--color-darkBg);
    color: var(--color-darkText);
    padding: 0;
}

.base-border {
    @apply border border-[#1F2028];
}

.hero-socials {
    @apply bg-[#111217] hover:bg-[#2A2A35] p-4 flex justify-center items-center rounded-lg text-white transition-colors duration-300 ease-in-out;
}

.hero-glow-circles {
    @apply absolute inset-0 z-[-3] rounded-3xl blur-2xl opacity-75;
}

.nav-link {
    @apply mx-4 hover:text-white transition-colors duration-400;
}

.hero-particles {
    @apply animate-[float_4s_ease-in-out_infinite] absolute z-[-2] w-4/5 xs:w-full sm:w-3/5 h-4/5 xs:h-3/5 bg-size-[20px_20px];
}

.personal-stats {
    @apply w-full items-center p-4;
}

.icon-glow {
    @apply rounded-full bg-[#2b1e4480] flex justify-center items-center p-4 mr-4;
}

.base-card {
    @apply bg-[#111217] rounded-lg;
}

.card-text {
    @apply text-offWhite text-sm/relaxed;
}

.base-tabs {
    @apply flex items-center justify-center rounded-4xl bg-[#111217] hover:bg-[#1a1a22] px-6 py-2 transition-colors duration-300 ease-in-out text-offWhite cursor-pointer;
}

.base-input {
    @apply bg-[#111217] rounded-lg p-4 text-white placeholder:text-muted outline-none focus:border-primary;
}